.navbarClass{
    background-color:rgba(253, 253, 253, 0.6);
    /* height: 100px; */
}

 .navbar-nav > li{
  display: flex;
  align-items: center;
    padding-left:5px;
    padding-right:5px;    
  }

.navbar-nav li a{
    color:#17252A;
    font-size: large;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}  
.navbar-nav li a:hover{
    color:black;
    background-color: rgba(240, 240, 240);
}

.rightAlign{
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.nav-login{
  text-decoration: none;
}

.dropdown{
  border-radius: 20%;
  background-color: #3AAFA9; 
  
}
.dropdown:hover{
  background-color: rgba(240, 240, 240);
}


@media screen and (max-width:600px) {
  .navbarClass{
    background-color:rgba(253, 253, 253);
  }
  .rightAlign{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
  }
}
/* .drop{
    align-items: flex-end;
}  */

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } */